<%- include('../partials/header') %>

<form action="/tickets" method="POST">
  <label>Seat:</label>
  <input type="number" name="price" />
  <label>Seat:</label>
  <input name="seat" required pattern="[A-F][1-9]\d?" />
</form>

<%- include('../partials/footer') %>
